.createContact {
  background-color: #f0f0f0;
  padding: 50px 40px;
  border-radius: 5px;
}

.createContact h3 {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  text-align: left;
  margin-bottom: 20px;
}

.createContact p {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  text-align: left;
  margin-bottom: 25px;
}

.createContact .icon {
  font-size: 15px;
  font-weight: 500;
  color: #444;
  text-align: left;
  margin-top: -3px;
}
form label {
  font-size: 16px;
  font-weight: 500;
  color: #555;
  text-align: left;
  margin-bottom: 8px;
}

.input {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: left;
  border-color: #ddd !important;
  box-shadow: none;
  margin-bottom: 15px;
}

.otherinput {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: left;
  padding: 7px;
  border-color: #ddd;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 15px;
}

.addContact {
  background-color: #444;
  width: 100%;
  padding: 10px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 2px;
}
